@import '@/view/styles/global-variables';

.buttonPrimary {
    padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
    border: none;
    width: 246px;
    height: 48px;
    background-color: $color-secondary; /* Cor de fundo do botão, ajuste conforme necessário */
    color: $color-clear; /* Cor do texto */
    font-weight: 800; /* Extrabold */
    border-radius: 10px; /* Cantos arredondados, ajuste conforme necessário */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito de transição de cor de fundo */
  
    &:hover {
      background-color: $color-secondary-hover; /* Cor de fundo ao passar o mouse, ajuste conforme necessário */
    }
  }