.simpleDropDowPopup {
    display: flex;    
    flex-direction: column;     
    position: absolute;
    z-index: 1; 
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .8s ease-in-out;
    top: 3.3rem; 
    left: 0.1rem;
    border-radius: .3rem .3rem .3rem .3rem ;

    &-show {
      opacity: 1;
      cursor: pointer;
      pointer-events: auto;  
      background-color: #FFFFFF;
      width: 10rem;
      
    }       


}



