@import '@/styles/global-variables';

.typography {
    font-size: 1rem; // Tamanho de fonte padrão
    font-weight: normal;
    color: $color-standard-typography;   // Cor padrão
    
  
    
    &[data-font-size='H1'] {
      font-size: 2rem;
    }
    
    &[data-font-size='H2'] {
      font-size: 1.5rem;
    }
  
    &[data-font-size='H3'] {
      font-size: 1.35rem;      
    }

    &[data-font-size='H4'] {
      font-size: 1.25rem;      
    }

    &[data-font-size='H5'] {
      font-size: 1.10rem;      
    }

    &[data-font-size='H6'] {
      font-size: 1.05rem;      
    }

    &[data-font-size='button-primary'] {
      font-size: 1rem;
      font-weight: bold;
    }
    
    &[data-font-size='button-link'] {
      font-size: 0.60rem;
      font-weight: bold;
    }

    &[data-font-size='caption1'] {
      font-size: 0.80rem;      
    }

    &[data-font-size='caption2'] {
      font-size: 0.80rem;
      font-weight: bold;
    }

    &[data-font-size='caption3'] {
      font-size: 0.60rem;
      font-weight: lighter;
    }

    &[data-font-size='caption3-a'] {
      font-size: 0.65rem;
      font-weight: bold;
    }

    
    &[data-font-size='caption4'] {
      font-size: 0.50rem;
      font-weight: bold;
    }
    &[data-font-size='caption5'] {
      font-size: 0.45rem;
      font-weight: bolder;      
    }


    &[data-font-size='caption'] {
      font-size: 0.65rem;
    }

    &[data-font-size='subtitle1'] {
      font-size: 0.80rem;
    }

    &[data-font-size='input-box'] {
      font-size: 0.55rem;
    }

    &[data-font-size='input-filter'] {
      font-size: 0.8rem;
    }
    
    &[data-color='red'] {
      color: $color-red;
    }
  
    &[data-color='blue'] {
      color: $color-blue;
    }
    &[data-color='white'] {
      color: $color-clear;
    }
    &[data-color='pink'] {
      color: $color-secondary;
    }
    &[data-color='primary'] {
      color: $color-principal;
    }
    
    &[data-weight='bold'] {
      font-weight: bold;
    }
    &[data-weight='extrabold'] {
      font-weight: 800;
    }
  }