@import '@/view/styles/global-variables';

.whereStayHowGo{
    margin-top: 0.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;   

    > section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        
        box-sizing: border-box;
        padding: 0;          
    }
 
    &-title {
        display: flex;
        justify-content: flex-start; 
        width: 100%;
        margin-bottom: 2vh;
    }

    &-fields {
        margin-top: 1vh;
        display: flex;  
        flex-direction: row;  
        justify-content: flex-start; 
        flex-wrap: wrap;
        
        
       
    }
    &-fields-move-data {
        
        display: flex;     
        align-items: center;
        justify-content: center; 
        
        &-image{
            background: url('/images/icons/icon-move-side.svg') no-repeat;
            background-size: 100% 100%; 
            object-fit: cover; /* Faz com que a imagem cubra completamente a área da div */
            object-position: center center;
            position: absolute;
            z-index: 1;
            width: 3vw;            
            height: 3vh;               
        }
    }

    &-broke-resolution{
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: stretch;
    }
    &-fields-group {
        margin-right: 1vh;
        
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        & > div {        
            margin-right: 0.2vh;
            
        }
    }
    &-button-plus{
        margin-left: 1vw;
        margin-right: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-button-next{
        margin-top: 4vh;
    }
    
    &-field-location{
        width: 15vw;
        margin-right: 0.1vw;
    }
    &-field-period{
        width: 12vw;
    }
    &-field-room{
        width: 13vw;
    }
    &-field-vehicle{
        width: 14vw;
    }
    @media screen and (max-width: $resolution-tablet-md) {
        
        &-fields-move-data {
            display: flex;     
            flex-direction: column;
            align-items: flex-end;
            justify-content: center; 
            width: 100%;
            &-image{
                background: url('/images/icons/icon-move-updown.svg') no-repeat;
                background-size: 100% 100%; 
                object-fit: cover; /* Faz com que a imagem cubra completamente a área da div */
                object-position: center center;
                position: absolute;
                z-index: 1;
                width: 4.5vw;            
                height: 4.5vh; 
                margin-right: 2vw;
            }
            & > div {        
                margin-bottom: 0.2vh;
                
            }
    
        }

        &-broke-resolution{
            flex-grow: 1;
            width: 100%;
            justify-content: stretch;
            margin-bottom: 1vh;
        }
        
        &-fields {
            margin-top: 2.5vh;
            display: flex;  
            flex-direction: column;  
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
            
            & > div {        
                margin-right: 1vh;
                
            }

            > div:first-child > div:first-child > div{
                 > div:nth-child(2) > div{
                    border-radius: 5px 5px 0 0;
                 }
                 > div:nth-child(3) > div{
                    border-radius: 0 0 0 0;
                 }

            }
            > div:nth-child(2) > div:first-child > div:first-child {
                > div:nth-child(1){
                   border-radius: 0 0 0 0;
                }
           }
            > div:nth-child(2) > div:first-child > div:nth-child(2){
                > div:nth-child(1){
                border-radius: 0 0 0 0;
                }
            }
            > div:nth-child(3) > div:first-child > div:nth-child(1){
                
                > div:nth-child(1){
                border-radius: 0 0 0 5px;
                }
            }
            > div:nth-child(3) > div:nth-child(2) > div:nth-child(1){
                > div:nth-child(1){
                    border-radius: 0 0 5px 0;
                }
            
            }
        }
        &-fields-group {
            display: flex;
            justify-content: stretch;
            flex-grow: 1;
            width: 100%;
            margin-right: .1vh;
            
                
        }

            
        &-button-plus{
            margin-left: 0;
            margin-right: 0;
            margin-top: 1vw;
            margin-bottom: 2vw;
            width: 100%;
        }
        &-field-location{
            width: 100%;
        }
        &-field-period{
            width: 50%;
        }
        &-field-room{
            width: 100%;
            
        }
        &-field-vehicle{
            width: 100%;
            
        }
    }
    
    @media screen and (max-width: $resolution-mobile-sm) {
        &-fields-move-data {
            &-image{
                width: 5vw;            
                height: 5vh; 
                margin-right: 2vw;
            }
        }


    }
   
}