@import '@/styles/global-variables';

.feriazFilterContainer{
    padding-top: 2rem;
    background-color: $color-white-light;
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-parameters{
        
        display: flex;
        flex-direction: column;
        align-items: center;            
        width: 100%;
        padding-bottom: 0.5rem;
        background-color: $color-grey-light;
        
    }


}