.feriazFilterContainer{
    padding-top: 2rem;
    background-color: #F5F5F5;
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-parameters{
        
        display: flex;
        flex-direction: column;
        align-items: center;            
        width: 100%;
        padding-bottom: 0.5rem;
        background-color: #D9D9D9;
        
    }


}