@import '@/view/styles/global-variables';

.inputAutoCompletePopup {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .8s ease-in-out;
    top: calc(100% + 0.5rem);
    left: 4px;
    border-radius: 0.3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: $color-white-light-slight;
    
    width: 15vw;
    &-item {      
      padding-top: 1vh;
      padding-bottom: 1vh;
      margin-left: 0;
      padding-left: 1vw;
      padding-right: 1vw;
      
      height: auto;
      > span{
        margin-top: 1vh;      
        margin-left: 1vh;
        word-wrap: none;
        text-wrap: nowrap;
        color: $color-standard-typography;
      }
      &:focus {
        background-color: $color-grey-dark;
        border-radius: 0.3rem;
        > span{
          color: $color-clear;
        }
      }
      
    }
    &-tail {
        width: 25px; /* Ajuste conforme necessário */
        height: 25px; /* Ajuste conforme necessário */
        background-color: $color-white-light-slight;
        position: absolute;
        z-index: -1;
        top: -12px; /* Ajusta para ficar acima do balão */
        left: 35px;
        transform: translateX(-50%) rotate(45deg);
        
     }

    &-show {
      opacity: 1;
      cursor: pointer;
      pointer-events: auto;  
      background-color: $color-white-light-slight;      
      width: auto;
      min-width: 20vw;
      height: auto;
    }       

    @media screen and (max-width: $resolution-tablet-md) {
     
      width: 55vw;
  

   
  }
  
  @media screen and (max-width: $resolution-mobile-sm) {



  }
  


}



