.iconSelectButton{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    
    &-image{
        display: flex;
        position: relative;
        justify-content: center;    
        padding: 0.2rem;                    
        width: 100%;
        height: 100%;
    }
    
    &-footer{
        margin-top: 0.1rem;
        > span{                        
            color: #6E6E6D;
            font-size: 0.6rem;
            font-weight: 800;
    
            
        }
    }
    &-underlined{
        border: 0.05rem solid #6E6E6D; 
        width: 100%;
        &[data-selected=true] {
            border: 0.2rem solid #6E6E6D;             
            border-radius: 10px;
        }

    }   
    
    &:hover {

        .iconButton-underlined {
            border: 0.2rem solid #6E6E6D; 
            border-radius: 1rem;
            
        }
    }
    
    
}