@import '@/styles/global-variables';

.iconSelectButton{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
    &-image{
        display: flex;
        position: relative;
        justify-content: center;    
        padding: 0.4vh;                    
        width: 100%;
        height: 100%;
    }
    
    &-footer{
        margin-top: 0.1vh;
        > span{      
            display: block;                  
            color: $color-font-caption;
            font-size: 0.6rem;
            font-weight: 800;
            word-wrap: break-word;
            white-space: pre-wrap; 
            text-align: center;            
        }
    }
    &-underlined{
        border: 0.05rem solid $color-font-caption; 
        width: 100%;
        &[data-selected=true] {
            border: 0.4vh solid $color-font-caption;             
            border-radius: 10px;
        }

    }   
    
    &:hover {

        .iconSelectButton-underlined {
            border: 0.4vh solid $color-font-caption; 
            border-radius: 1rem;
            
        }
    }
    
    
}