.destinyDiscovery{
    position: relative;
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
 
    &-title {
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    &-fields {
        position: relative;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
    }

    &-fields-group-place {
        position: relative;
        display: flex;  
        flex-direction: column; 
        height: auto;

        
    }

    &-fields-group {
        position: relative;
        display: flex;  
        flex-direction: row;
        height: auto;
        
        & > div {        
            margin-right: 0.1vw;
            margin-top: 0.1vw;
            height: auto;
        }
    }
    &-button-plus{
        display: inline-flex;
        padding-top: 0.5rem;

    }

    &-button-next{
        margin-top: 2rem;
    }
}