.destinyDiscovery{
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
 
    &-title {
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    &-fields {
        margin-top: 0.5rem;
        display: flex;     
           
        
        & > div {        
            margin-right: 1vh;
        }
    }
    &-fields-move-data {
        display: flex;     
        align-items: center;
        justify-content: center; 
        & >div:first-child {            
            position: absolute;
        }   
    }

    &-fields-group-place {
        display: flex;  
        flex-direction: column;        
        & > div {            
            margin-bottom: 0.1rem;
            
        }
        & >div:first-child {            
            & >div:first-child {            
                border-radius: .3rem 0 0 0 ;
                
            }
            & > div:nth-child(3) {
                border-radius: 0 .3rem 0 0;
              }
        }      
        & >div:nth-child(2) {
            
            & >div:first-child {            
                border-radius: .3rem 0 0 0 ;
                
                
            }
            
            & >div:first-child {            
                border-radius: 0 0 0 .3rem ;
                
            }               
            & > div:nth-child(4) {
                border-radius: 0 0 .3rem 0;
              }
        }      

    }

    &-fields-group {
        display: inline-flex;  
        flex-wrap: wrap;      
        
        & > div {        
            margin-right: 0.1vw;
        }
    }
    &-button-plus{
        display: inline-flex;
        padding-top: 0.5rem;

    }

    &-button-next{
        margin-top: 2rem;
    }
   
}