@import '@/styles/global-variables';

.AreaLogin {
  position: relative;
  display: flex;
  
  margin-right: 0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;

}
