@import '@/styles/global-variables';

.AreaLogin {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; /* Adjusted to align to the right */

}
