$size-width: 9vw;
$size-height: 9vh;

.feriazName {
    background: url('/images/icons/feriaz-name-2.svg') no-repeat;
    background-size: 100% 100%;
    &[data-size='big'] {
        width: 13vw;
        height: 13vh;
    }

    width: $size-width;
    height: $size-height;

    @media (max-width: 912px) {
        width: 22vw;
        height: 10vh;
    }
    @media (max-width: 480px) {
        width: 30vw;
        height: 10vh;
    }
}