@import '@/styles/global-variables';

.dateSelection {    
  background-color: $color-clear;
  width: 17vw;
  height: 30vh;
  border-radius: 10px 10px 10px 10px;  

  &-divider{
    position: absolute;
    top: 8vh;
    height: 10vh;
    border-left: solid $color-principal;
    border-left-width: 1.5px;
    
  }

  &-top{
    display: flex;
    flex-direction: row;  
    margin-top: 0.6vh;
    margin-right: 0.6vh;
    cursor: auto;
    
    align-items: center;
    justify-content: space-between;

    > div:first-child {
      width: 1vw;
      margin-left: 0.8vw; 
      &[data-position='last'] {
        visibility: hidden;
      }
    }
    > div:last-child {
      width: 1vw;
      margin-left: 0.8vw; 
      &[data-position='first'] {
        visibility: hidden;
      }
    }
    > div:nth-child(2) {
      
      span:first-child {
        margin-bottom: 0.6vh;        
      }      
    }

    &-month{
      display: flex;
      flex-direction: column;  
      align-items: center;
    }
  }

  &[data-position='middle'] {
    border: solid $color-grey-light;
    border-width: .1vw 0 .1vw 0;
    .dateSelection-top{
      > div:first-child {
        visibility: hidden;
      }
      > div:last-child {
        visibility: hidden;
      }      
    }    
  }
  &[data-position='last'] {
    border: solid $color-grey-light;
    border-width: .1vw .1vw .1vw 0;
    .dateSelection-top{
      > div:first-child {
        visibility: hidden;
      }      
    }
  }
  &[data-position='first'] {
    border: solid $color-grey-light;
    border-width: .1vw 0 .1vw .1vw;
    .dateSelection-top{
      > div:last-child {
        visibility: hidden;
      }      
    }
    .dateSelection-divider{
      visibility: hidden;
    }
  }
  &[data-position='onlyone'] {
    border: 0.1vw solid $color-grey-light;
    
  }

}
