.dateSelection {  
  width: 10rem;
  background-color: #ffff;
  width: 15rem;
  height: 15rem;
  border-radius: 10px 10px 10px 10px;  

  &-divider{
    position: absolute;
    top: 4rem;
    height: 5rem;
    border-left: solid #69C6DE;
    border-left-width: 1.5px;
    
  }

  &-top{
    display: flex;
    flex-direction: row;  
    margin-top: 0.6rem;
    cursor: auto;
    
    align-items: center;
    justify-content: space-between;

    > div:first-child {
      width: 0.1rem; 
      &[data-position='last'] {
        visibility: hidden;
      }
    }
    > div:last-child {
      width: 0.1rem; 
      &[data-position='first'] {
        visibility: hidden;
      }
    }
    > div:nth-child(2) {
      
      span:first-child {
        margin-bottom: 0.3rem;        
      }      
    }

    &-month{
      display: flex;
      flex-direction: column;  
      align-items: center;
    }
  }

  &[data-position='middle'] {
    border: solid #D9D9D9;
    border-width: .1rem 0 .1rem 0;
    .dateSelection-top{
      > div:first-child {
        visibility: hidden;
      }
      > div:last-child {
        visibility: hidden;
      }      
    }    
  }
  &[data-position='last'] {
    border: solid #D9D9D9;
    border-width: .1rem .1rem .1rem 0;
    .dateSelection-top{
      > div:first-child {
        visibility: hidden;
      }      
    }
  }
  &[data-position='first'] {
    border: solid #D9D9D9;
    border-width: .1rem 0 .1rem .1rem;
    .dateSelection-top{
      > div:last-child {
        visibility: hidden;
      }      
    }
    .dateSelection-divider{
      visibility: hidden;
    }
  }
  &[data-position='onlyone'] {
    border: 0.1rem solid #D9D9D9;
    
  }

}
