@import '@/view/styles/global-variables';
.body {    
    
    display: flex;
    align-items: center;
    
    height: 100vh;
    margin: 0;    
    flex-direction: column;

    &-feriaz {
      margin-top: 8vh;
    }
    &-welcome {
      margin-top: 4vh;
      &-login-caption {
        margin-top: 0.2vh;
      }
    }
    &-form-login {
      display: flex;
      flex-direction: column;
      width: 100%; /* Largura de 100% */
      
      align-items: center;

      > section{
        
        width: 25vw;
        > div{
          margin-bottom: 1vh;
        }
      }
  
      margin-top: 8vh;
      &-forgot-password {
        display: flex;
        justify-content: flex-end;            
        margin-top: .1vh;
        width: 100%;

      }
      &-button{
        display: flex;        
        margin-top: 6vh;
        justify-content: center;            
      }
    }

    &-or-login-social-caption {
      margin-top: 8vh;
      display: flex;      
      margin-top: 2vh;                
      justify-content: center;   
    }
    
    &-button-login-google{
      margin-top: 8vh;
      display: flex;      
      margin-top: 2vh;                
      justify-content: center;  
    }

    &-button-login-facebook{      
      display: flex;      
      margin-top: 0.8vh;                
      justify-content: center;  
    }

    &-invite-signin {
      margin-top: 8vh;
      & > * {        
        margin: 1vw; 
    } 
    }
  
  

    @media screen and (max-width: $resolution-tablet-md) {
      
    
        &-feriaz {
          margin-top: 4vh;
        }
        &-welcome {
          margin-top: 4vh;
          &-login-caption {
            margin-top: 0.2vh;
          }
        }
        &-form-login {
          margin-top: 4vh;        

          > section{        
            width: 70vw;
            > div{
              margin-bottom: 1vh;
            }
          }

          &-forgot-password {
            margin-top: .1vh;
            width: 100%;
          }
          &-button{
            margin-top: 4vh;

            
          }
        }
    
        &-or-login-social-caption {
          margin-top: 2vh;
        }
        
        &-button-login-google{
          margin-top: 4vh;
        }
    
        &-button-login-facebook{      
          display: flex;      
          margin-top: 0.8vh;                
          justify-content: center;  
        }
    
        &-invite-signin {
          margin-top: 3vh;
          & > * {        
            margin: 1vh; 
        } 
        }
      }
      

      @media screen and (max-width: $resolution-mobile-sm) {
        
        &-form-login {

          > section{
        
            width: 80vw;
            > div{
              margin-bottom: 1vh;
            }
          }

        }
      }

    
}