@import '@/styles/global-variables';


.dateElements {        
  display: flex;
  flex-direction: column;  
  align-items: center;
  height: 70%;

  &-container {    
    width: 85%;  
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);    
    justify-items: center;    
  }

  &-dayTitle {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    text-align: center;    
  }
  
  &-dayCell {
    border-radius: 1rem; 
    display: flex;   
    width: 100%; 
    flex-direction: column;  
    text-align: center;
    justify-content: center;
    
    
    &-inperiod {
      display: inline-flex;
      > span {
        background-color: $color-selection-period;
        &:first-child {
          margin-left: 0rem;          
        }
        
      } 
    }
    
    &-click {
      
      display: flex;   
      flex-direction: column;  /* Adicionado para permitir a centralização vertical */
      align-items: center;     /* Adicionado para centralizar o texto */
      justify-content: center; /* Adicionado para centralizar o texto */
      
      
      background-color: $color-principal;      
      
      
      > span {      
        color: $color-clear;          
        width: 100%;
      }
    }

    > span {
      width: 100%;
      height: 50%;  
      line-height: normal;      
    }
  }
}
