@import '@/styles/global-variables';

.areaSearch{
    margin-top: 0.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-font-caption;
    padding: 1.5vh;
    border-bottom-left-radius: 1.5vh ;
    border-bottom-right-radius: 1.5vh ;    
    height: auto;
    max-width: 90%;

    @media screen and (max-width: $resolution-tablet-md) {
        
     
    }
    
    @media screen and (max-width: $resolution-mobile-sm) {

    }

}