@import '@/styles/global-variables';

.areaSearch{
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-font-caption;
    padding: 1rem;
    border-bottom-left-radius: 0.6rem ;
    border-bottom-right-radius: 0.6rem ;

}