.datePickerContainer {
  position: absolute;
  z-index: 1;
  background-color: black;
  display: flex;
  width: 10rem;
  height: 10rem;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity .8s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 3.3rem; 
  left: 0.1rem;

  &-show {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
    
    
  }
}
