.formGroup {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    
	box-sizing: border-box;
    padding: 0;
    /* Estilos para elementos filhos */
    & > div {
        align-items: stretch;
        justify-content: stretch;
    
        margin: 5px; 
        & > input {        
            margin: 3px; 
        }

        & > div {        
            margin: 3px; 
        }
      
    }

    @media (max-width: 912px) {        
        width: 60vh; 
    }
    @media (max-width: 540px) {
        
        width: 55vh;
    }

    @media (max-width: 480px) {
        /* Quando a largura da tela for 480px ou menos */
        width: 40vh; /* Altere a largura para 40vh */
    }
  }

  