.iconClick{
    display: flex;
    flex-direction: column;
    position: relative;
    
    
    width: 1.3rem;
    height: 1.3rem;

    cursor: pointer;
    &-caption{
        position: absolute;
        
    }
    &:hover {
        width: 20;
        height: 20;
        
    }
    > span{
        margin-top: 1.5rem;
        color: #6E6E6D;
        font-size: 0.6rem;
        font-weight: 800;
    }
    
}