@import '@/styles/global-variables';

.tripPeopleDetailField {
    position: relative;
    background-color: $color-clear;
    display: flex;  
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    
    
    
    

    &[data-round='top'] {
        border-radius: 10px 10px 0 0;
    }
    &[data-round='button'] {
        border-radius:  0 0 10px 10px;
    }
    &[data-round='all'] {
        border-radius:  10px 10px 10px 10px;
    }
    &[data-round='left'] {
        border-radius:  10px 0 0 10px;
    }
    &[data-round='right'] {
        border-radius:  0 10px 10px 0;
    }

    &-inputArea {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0.2rem; 
        margin-left: 0.5rem;
        margin-right: 0.8rem;
        overflow: hidden;
        flex-grow: 1;
        width: auto;
        
        
    }
    &-inputText { 
        height: 3.5vh;                
        color: $color-font-caption;        
        border: none;        
        outline: none;   
        width: 100%; /* Faz com que o input ocupe 100% da largura disponível */
        box-sizing: border-box;
           
        @media (max-width: 520px) {
            flex: 9; 
        }
        @media (max-width: 375px) {
            flex: 7; 
        }
    }
    &-caption {
        position: relative;
        margin-bottom: -0.2rem;
        margin-left: .1rem;                
    }


    &-passwordIcon {            
        position: relative;
        display: flex;                
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2.5vw;
        height:3.5vh;                        
        &-area{
            position: relative;            
            display: flex;
            flex-direction: column;
            width: 1.8vw;
            height:3vh;                        
        }
        
    }
    &-iconleft{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
        
        width: 2.5vw;
        height:3.5vh;
        &-area{            
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;        
            width: 1.8vw;
            height:2.3vh;
            margin-left: 3px;
            
        }
    }
}



