.tripPeopleDetailField {
    background-color: white;
    display: flex;  
    position: relative;
        

    &[data-round='top'] {
        border-radius: 10px 10px 0 0;
    }
    &[data-round='button'] {
        border-radius:  0 0 10px 10px;
    }
    &[data-round='all'] {
        border-radius:  10px 10px 10px 10px;
    }
    &[data-round='left'] {
        border-radius:  10px 0 0 10px;
    }
    &[data-round='right'] {
        border-radius:  0 10px 10px 0;
    }


    &-inputText {
        margin: 0.4vh; 
        height: 3.5vh;
        border: none;
        padding-top: 1.8vh;
        color: #6E6E6D;        
        padding-left: 1vh;        
        outline: none;

        @media (max-width: 520px) {
            flex: 9; 
        }
        @media (max-width: 375px) {
            flex: 7; 
        }
    }
    &-caption {
        padding-left: 1.5vh;
        margin-top: 0.6vh;
        position: absolute;
    }    
    &-iconleft{
        position: absolute;        
        color: black;
        padding-top: 2vh;
        padding-left: 1.5vh;
    }

    &[data-iconleft='true'] {
        .tripPeopleDetailField-inputText {
            padding-left: 4vh;
        }
        .tripPeopleDetailField-caption {
            padding-left: 4.4vh;
        }

        
    }

}



