.whereStayHowGo{
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
 
    &-title {
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    &-fields {
        margin-top: 0.5rem;
        display: flex;     
           
        
        & > div {        
            margin-right: 1vh;
        }
    }
    &-fields-move-data {
        display: flex;     
        align-items: center;
        justify-content: center; 
        & >div:first-child {            
            position: absolute;
        }   
    }

    &-fields-group {
        display: inline-flex;        
        
        & > div {        
            margin-right: 0.11vh;
        }
    }
    &-button-plus{
        display: inline-flex;
        padding-top: 0.5rem;
        
        

    }

    &-button-next{
        margin-top: 2rem;
    }
   
}