.whereStayHowGo{
    margin-top: 0.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
 
    &-title {
        display: flex;
        justify-content: flex-start; 
        width: 100%;
        margin-bottom: 2vh;
    }

    &-fields {
        margin-top: 1vh;
        display: flex;    
        justify-content: flex-start; 
        flex-wrap: wrap;
        
        & > div {        
            margin-right: 1vh;
        }
    }
    &-fields-move-data {
        
        display: flex;     
        align-items: center;
        justify-content: center; 
        & >div:first-child {            
            position: absolute;
            z-index: 1;
            width: 3vw;            
            height: 3vh;            
        }   
    }

    &-fields-group {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        & > div {        
            margin-right: 0.11vh;
        }
    }
    &-button-plus{
        margin-left: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-button-next{
        margin-top: 4vh;
    }
   
}