.whereStayHowGo{
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
 
    &-title {
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        width: 100%;
        
    }

    &-fields {
        display: flex;        
        flex-direction: row;
        & > div {        
            margin-right: 0.1vh;
        }
    }
   
}