@import '@/styles/global-variables';

.tripPeoplePopup {
    display: flex;    
    flex-direction: column;    
    position: absolute;
    z-index: 1; 
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .8s ease-in-out;
    top: 3.3rem; 
    left: 0.1rem;
    

    &-confirmar{
        margin-top: 1rem;
        display: flex;    
        flex-direction: column;    
        align-items: center;
        margin-bottom: 1rem;
        > button{
          width: 6rem;
          height: 2rem;  
          padding: 0;          
      }
    }

    &-menores{      
      
      display: flex; 
      direction: row;   
      text-align: left;      
      margin-left: .8rem;
      margin-right: .5rem;
      flex-wrap: wrap;
      justify-content: space-between;
      > select{
        
        border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
        width: 6.5rem;
        margin-top: 0.51rem;
        font-size: .5rem;
        height: 1.2rem;
        background-color: $color-clear;
      }
    }

    &-peopleCount{      
      display: flex;    
      flex-direction: column; 
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      
      > div{
        justify-content: space-between;
        width: 100%;
        margin-top: 0.5rem;
      }

    }

    &-show {
      opacity: 1;
      cursor: pointer;
      pointer-events: auto;  
      background-color: $color-clear;
      width: 15rem;
      
    }       


}



