@import '@/view/styles/global-variables';

.stepperControl{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
    
    &[item-position='left'] {
        flex-direction: row;
    }
    &[item-position='right'] {
        flex-direction: row-reverse;
    }

    &[item-position='top'] {
        flex-direction: column;
    }
    &[item-position='bottom'] {
        flex-direction: column-reverse;
    }
    

    &-value{
        margin-left: 0.3rem;
        display: flex;
        flex-direction: row;
        border: 0.1rem solid $color-grey-light;
        width:4rem;
        justify-content: space-evenly;
        align-items: center;
        border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
        &-button {
            color: $color-principal;
            width: 30%;
            text-align: center;
            transition: background-color 0.3s, color 0.3s;
            border-radius: 20px; 
          
            &:hover {
              background-color: $color-white-light-slight;
               
              font-weight: bold;
              color: $color-blue-dark;
            }
          
            &:active {
              background-color: $color-grey-light;
              color: $color-blue-dark-extra;
            }
          
            &-disabled {
              color: $color-grey-dark;
              pointer-events: none;
            }
          }     
          
    
        > input{
            margin-left: 0.3rem;
            font-size: 0.7rem;
            border: none;
            outline: none;
            width: 30%;
            
        }
    
    }

}