@import '@/view/styles/global-variables';

.dateFlexible {    
  background-color: $color-clear;
  position: absolute;
  display: flex;
  flex-direction: column;  
  cursor: auto;
  top: 0.4rem;
  bottom: 1.5rem;  /* Ajuste para levar em consideração a altura do footer */
  width: 100%;  
  
  &-title{    
    position: relative;
    margin-left: 3rem;   
    
  }
  &-months{   
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;        
  }
  &-diasViagem{    
    display: flex;
    flex-direction: column;  
      
    margin-top: 1rem;
    margin-left: 3rem;

    &-field{
      display: flex;
      flex-direction: row;  
      align-items: center;
      > input {
        margin-top: 0.2rem;
        width: 2rem; /* Defina o valor desejado em pixels */
      }
      > span {
        margin-top: 0.1rem;
        margin-left: 0.5rem;
      }
    }
  }

  &-radioList{
    margin-top: 0.1rem;
    > div{
      margin-left: 2.7rem;  
      display: flex;
      flex-direction: column;  
      margin-top: 0.1rem;
      > label {
        margin-top: 0.4rem;
        display: flex;
        align-items: center;
      }
    }
  }
  
  
    
}

