@import '@/styles/global-variables';

.body {    
    display: flex;
    align-items: center;    
    margin: 0;    
    flex-direction: column;
    

    &-area-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &-area-text{
        padding-top: 2rem;        
        line-height: 2.5rem;
        margin-top: 6vh;             
        width: 60rem;
        text-align: center;
        
        &>span{
            word-wrap: break-word;
            white-space: pre-wrap;    
        }

    }

    &-area-search {
        
        display: flex;
        flex-direction: column;
        align-items: center;        
        width: 100%;
        
    }

    &-area-video{
        margin-top: 2rem;
        width: 40rem;
        width: 40rem;
        
    }

    &-area-cards {
        margin-top: 2rem;
        color: #ffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    
        > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 12rem;
            margin-right: 6rem;            
            transform: translateY(20px); /* Move para baixo (ou ajuste conforme necessário) */
            transition: opacity 0.5s ease, transform 0.5s ease; /* Adiciona transição suave */
        }
    
        
    }

    &-area-banner {    
        position: relative;
        margin-top: 6rem;
        width: 100%;
        height: 15rem;
    }

    &-area-instructionVacation{
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 2rem;        
        line-height: 2.5rem;
        margin-top: 6vh;             
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        
        &>span{
            word-wrap: break-word;
            white-space: pre-wrap;    
        }


    }

    &-area-knowingPatners{
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 2rem;        
        line-height: 2.5rem;
        margin-top: 6vh;             
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        
        &>span{
            word-wrap: break-word;
            white-space: pre-wrap;    
        }

        &-carousel{      
            background-color: white;
            padding-top: 2rem;
            margin-top: 6vh;             
            display: flex;
            flex-direction: column;      
            width: 100%;
        }


    }

    &-area-sol{
        padding-top: 5rem;
        background-color: white;
        height: 30rem;
        width: 100%;
        display: flex;
        flex-direction: row ;
        justify-content: center;

        &-image{
            display: flex;
            flex-direction: column;
            position: relative;
            height: 30rem;
            width: 30rem;
        }
        &-message{
            display: flex;
            flex-direction: column;
            width: 30rem;
            text-align: center;
            margin-right: 15rem;
            > span{
                margin-bottom: 3rem;
                line-height: 2.8rem;
            }
            
        }

    }
    
    &-area-guicare{
        padding-top: 10rem;
        background-color: white;
        height: 30rem;
        width: 100%;
        display: flex;
        flex-direction: row ;
        justify-content: center;

        &-image{
            display: flex;
            flex-direction: column;
            position: relative;
            height: 30rem;
            width: 20rem;
            margin-right: 15rem;
        }
        &-message{
            display: flex;
            flex-direction: column;
            width: 30rem;
            text-align: center;            

            > span{
                margin-bottom: 3rem;
                line-height: 2.8rem;
            }
            
        }

    }

    &-area-tripplan{
        padding-top: 10rem;
        background-color: white;
        height: 40rem;
        width: 100%;
        display: flex;
        flex-direction: column ;
        align-items: center;

        &-image{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 50rem;
            height: 30rem;
        }
        &-message{
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            > span{
                
                line-height: 2.8rem;
            }
            
        }

    }

    &-area-links{
        display: flex;
        flex-direction: row;
        background-color: white;
        justify-content: center;
        padding-bottom: 2rem;
        width: 100%;       
        > nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            > ul {
                width: 70%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                > li > a{
                    text-decoration: none;
                }
            }
        }
    }

    &-area-advertising{
        width: 100%;
        height: 15rem;
        margin-top: 5rem;
        > span{
            margin-left: 29.5rem;
        }
    }

    &-area-footer{
        display: flex;
        flex-direction: row;
        background-color: white;
        width: 100%;       
        height: 3rem;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
        > ul{
            width: 45%;       
            display: flex;
            flex-direction: row;
            justify-content: space-around;            
        }
        
    }
}
