@import '@/styles/global-variables';

.body {    
    display: flex;
    align-items: center;    
    margin: 0;    
    flex-direction: column;
    

    &-area-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &-area-text{
        padding-top: 2rem;        
        color: #ffff;  
        line-height: 2.5rem;
        font-weight: 900;
        font-size: 2.2rem;
        margin-top: 6vh;     
        text-align: center;
        word-wrap: break-word;
        white-space: pre-wrap;
        width: 60rem;
    }

    &-area-search {
        
        display: flex;
        flex-direction: column;
        align-items: center;        
        width: 100%;
        
    }

    &-area-video{
        margin-top: 2rem;
        width: 40rem;
        width: 40rem;
        
    }

    &-area-cards {
        margin-top: 2rem;
        color: #ffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    
        > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 13rem;
            margin-right: 5rem;            
            transform: translateY(20px); /* Move para baixo (ou ajuste conforme necessário) */
            transition: opacity 0.5s ease, transform 0.5s ease; /* Adiciona transição suave */
        }
    
        
    }

  
}