@import '@/styles/global-variables';

.body {    
    display: flex;
    align-items: center;    
    margin: 0;    
    flex-direction: column;
    

    &-area-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 98%;
    }

    &-area-text{
        padding-top: 4vh;        
        line-height: 2.5rem;
        margin-top: 6vh;             
        width: 60vw;
        text-align: center;
        
        &>span{
            word-wrap: break-word;
            white-space: pre-wrap;    
        }

    }

    &-area-search {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;        
        width: 100%;
        
    }

    &-area-video{
        margin-top: 2vh;
        width: 60vw;
        height: 60vh;        
    }

    &-area-cards {
        margin-top: 4vh;
        color: #ffff;
        display: flex;        
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
    
        > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 12vw;
            margin-right: 6vw;            
            transform: translateY(20px); /* Move para baixo (ou ajuste conforme necessário) */
            transition: opacity 0.5s ease, transform 0.5s ease; /* Adiciona transição suave */
        }
    
        
    }

    &-area-banner {    
        position: relative;
        margin-top: 6rem;
        width: 100%;
        height: 40vh;        
    }

    &-area-instructionVacation{
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 2vh;        
        line-height: 2.5rem;
        margin-top: 6vh;             
        width: 70vw;
        height: auto;
        text-align: center;

    }

    &-area-knowingPatners{
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 2rem;        
        line-height: 2.5rem;
        margin-top: 6vh;             
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;

        >span{                
            font-weight: bold;
            color: $color-clear;
            font-size: 1.5rem;
            word-wrap: break-word;
            white-space: pre-wrap;    
            
        }


        &-carousel{      
            background-color: $color-clear;
            padding-top: 2rem;
            margin-top: 6vh;             
            display: flex;
            flex-direction: column;      
            width: 100%;
        }

    }

    &-area-sol{
        position: relative;
        padding-top: 10vh;
        background-color: $color-clear;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row ;
        justify-content: center; 

        &-image{
            display: flex;
            flex-direction: row;            
            position: relative;
            align-items: flex-end;
            height: auto;
            width: 30vw;
        }
        &-message{
            display: flex;
            flex-direction: column;
            background-color: white;
            height: auto;
            width: 25vw;            
            text-align: center;            

            > span{
                margin-bottom: 3vw;
                line-height: 2.8rem;
            }
            
        }

    }
    
    &-area-guicare{
        position: relative;
        padding-top: 10vh;
        background-color: $color-clear;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row ;
        justify-content: center;                
        

        &-image{
            display: flex;
            flex-direction: row;            
            position: relative;
            align-items: flex-end;
            height: auto;
            width: 30vw;
            
        }
        &-message{
            display: flex;
            flex-direction: column;
            background-color: white;
            height: auto;
            width: 25vw;            
            text-align: center;            

            > span{
                margin-bottom: 3vw;
                line-height: 2.8rem;
            }
            
        }

    }

    &-area-tripplan{
        padding-top: 10vh;
        background-color: $color-clear;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column ;
        align-items: center;

        &-image{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 80vw;
            height: 70vh;
        }
        &-message{
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            > span{
                
                line-height: 2.8rem;
            }
            
        }

    }

    &-area-links{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $color-clear;
        justify-content: center;
        align-items: center;
        padding-bottom: 2vh;
        width: 100%;       
        > nav {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            > ul {
                width: 70%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                > li > a{
                    
                    align-content: center;
                    text-decoration: none;
                }
            }
        }
    }

    &-area-advertising{
        width: 100%;
        height: 15vh;
        margin-top: 5vh;
        > span{
            margin-left: 29.5vw;
        }
    }

    &-area-footer{
        bottom: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: $color-clear;
        width: 100%;       
        height: 15vh;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 1;
        > ul{
            position: relative;
            width: 67vw;       
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;   
            > li{
                text-wrap: nowrap;
            }         
        }
        
    }

    @media screen and (max-width: $resolution-tablet-md) {

        &-area-text{
            padding-top:10vh;        
            margin-top: 10vh;             
            width: 80vw;
        }

        &-area-video{
            margin-top: 2vh;
            width: 80vw;
            height: 40vh;        
        }

        &-area-cards {
            width: 75%;
            margin-top: 1vh;
            justify-content: space-around;
            > div {
                width: 30vw;
                margin-top: 6vh;            
            }
            
        }

        &-area-instructionVacation{
            display: flex;
            flex-direction: column;
            position: relative;
            padding-top: 2vh;        
            line-height: 2.5rem;
            margin-top: 6vh;             
            width: 70vw;
            height: auto;
            text-align: center;
    
        }
        
        &-area-knowingPatners{
            
            &-carousel{                      
                margin-top: 3vh;             
                
            }
        }

        &-area-sol{
            margin-top: -1px;
    
            &-image{
                width: 50vw;
            }
            &-message{
                width: 38vw;            
                > span{                    
                    line-height: 2.6rem;
                }
            }    
        }

        &-area-guicare{
            padding-top: 5vh;                        
    
            &-image{
                width: 50vw;
            }
            &-message{
                width: 38vw;            
                > span{                    
                    line-height: 2.6rem;
                }
            }
        }
        
        &-area-tripplan{
            padding-top: 10vh;            
            height: auto;
    
            &-image{
                height: 40vh;
            }
            &-message{
                width: 50%;
                > span{                    
                    line-height: 2.5rem;
                    display: inline-block;
                    text-align: center;
                    flex-wrap: wrap;
                }
                
            }
    
        }

        &-area-links{
            > nav {
                > ul {
                    width: 90%;
                }
            }
        }

        &-area-footer{
            height: 10vh;
            > ul{                
                width: 70vw;       
                line-height: 1.5rem;
                > li{
                    text-wrap: nowrap;
                }         
            }
            
        }
        

    }
    
    @media screen and (max-width: $resolution-mobile-sm) {

        &-area-text{
            padding-top: 14vh;                    
            margin-top: 10vh;             
            width: 90vw;
            text-align: center;
            
            &>span{
                word-wrap: break-word;
                white-space: pre-wrap;    
            }
    
        }
        &-area-knowingPatners{
            >span{                
                font-weight: bold;
                color: $color-clear;
                font-size: 1.3rem;
                word-wrap: break-word;
                white-space: pre-wrap;    
                width: 100%;
                    
            }
            
        }
        &-area-cards {
            > div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 80vw;
                margin-right: 4vw;            
                transform: translateY(20px); /* Move para baixo (ou ajuste conforme necessário) */
                transition: opacity 0.5s ease, transform 0.5s ease; /* Adiciona transição suave */
            }
        
            
        }
    

        &-area-sol{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 5vh;
            &-image{
                width: 90vw;
                height: 60vh;                
            }
            &-message{
                margin-top: 0.1vh;                
                width: 80vw;            
                > span{                    
                    line-height: 2.2rem;
                }
            }    
        }

        &-area-guicare{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 15vh;
            &-image{
                width: 90vw;
                height: 60vh;                
            }
            &-message{
                margin-top: 0.1vh;                
                width: 80vw;            
                > span{                    
                    line-height: 2.2rem;
                }
            }    
        }
        
        &-area-links{
            > nav {
                margin-left: 1vh;
                > ul {
                    flex-direction: column;
                    > li{
                        margin-bottom: 4vh;
                        
                    }
                    > li > a{

                        align-content: center;
                        text-decoration: none;
                        display: inline-block;
                        text-align: center;
                    }
                }
            }
        }
        &-area-advertising{            
            > span{
                margin-left: 8vw;
            }
        }
        &-area-footer{
            height: 20vh;
            > ul{                
                
                line-height: 1.5rem;
                font-size: 0.4rem;
                > li{
                    text-wrap: nowrap;
                }         
            }
            
        }

    }
}
