.simpleCarousel {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
  
    & > div {
      margin-right: 3rem; // Ajuste conforme necessário
    }
  
    > img {
      display: block;
      width: 100%; // Garante que a imagem não ultrapasse os limites da div
    }
  
    > button {
      top: 50%;
      transform: translateY(-50%);
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
  
    &-prev {
      left: 10px;
    }
  
    &-next {
      right: 10px;
    }
  
    &-images-container {
        overflow: hidden; // Garante que as imagens não ultrapassem os limites da div
    }

    &-images {
        display: flex;
        transition: transform 0.5s ease;
    }
  }
  