@import '@/view/styles/global-variables';

.feriazFilterContainer{
    position: relative;
    padding-top: 4vh;
    background-color: $color-white-light;
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-parameters{
        position: relative;        
        display: flex;
        flex-direction: column;
        align-items: center;            
        width: 100%;
        padding-bottom: 1vh;
        background-color: $color-grey-light;        
    }


}