.calendarContainer {
    position: relative;
    background-color: white;
    display: flex;  
    flex-direction: row;
    align-items: center;
        

    &[data-round='top'] {
        border-radius: 10px 10px 0 0;
    }
    &[data-round='button'] {
        border-radius:  0 0 10px 10px;
    }
    &[data-round='all'] {
        border-radius:  10px 10px 10px 10px;
    }
    &[data-round='left'] {
        border-radius:  10px 0 0 10px;
    }
    &[data-round='right'] {
        border-radius:  0 10px 10px 0;
    }

    &-inputArea {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0.2rem; 
        margin-left: 0.5rem;
        margin-right: 0.8rem;
        overflow: hidden;
    }


    &-inputText {        
        height: 3.3vh;                
        color: #6E6E6D;        
        border: none;        
        outline: none;   
        
        width: auto;     
        

        @media (max-width: 520px) {
            flex: 9; 
        }
        @media (max-width: 375px) {
            flex: 7; 
        }
    }
    &-caption {
        position: relative;
        margin-bottom: -0.2rem;
        margin-left: .1rem;                
    }


    &-passwordIcon {    
        background: url('/images/icons/eye.svg') no-repeat; 
        background-position: right center;               
        flex: 1;   
    }
    &-iconleft{
        position: relative;
        display: flex;                
        align-items: center;
        justify-content: flex-end;
        width: 30%;
        height: 80%;
        &-area{
            position: relative;
            display: flex;
            width: 50%;
            height: 50%;
        }

    }

    

}



